.titulo {
  color: red;
}

.nav__lista {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: #000 solid 1px;
}

.nav__item {
  font-size: 32px;
  margin-left: 16px;
  text-shadow: rgb(88, 87, 87) 2px 2px 8px;
  padding: 14px;
  text-decoration: none;
  font-family: 'Rubik Dirt', cursive;

}

